@model Auction

@{
    string? themeOpposite = @Context.Session.GetString("ThemeOpposite").ToLower();
    string? theme = @Context.Session.GetString("Theme").ToLower();
}

<div class="container w-50 mx-auto">
    <form class="p-4 form-control shadow-lg-@themeOpposite bg-@theme text-@themeOpposite border-0 mt-5 mb-5"
        asp-controller="Auction" asp-action="Create" method="POST">
        <div class="mb-4">
            <h2 class="text-center text-@themeOpposite">New Auction Info</h2>
        </div>
        <div class="mb-3">
            <span asp-validation-for="Name" class="text-danger font-weight-bold">
            </span>
            <input class="form-control bg-@theme text-@themeOpposite border-@themeOpposite" asp-for="Name"
                placeholder="Auction Name" />
        </div>

        <div class="mb-3">
            <span asp-validation-for="Description" class="text-danger font-weight-bold">
            </span>
            <textarea class="form-control bg-@theme text-@themeOpposite border-@themeOpposite" asp-for="Description"
                placeholder="Description"></textarea>
        </div>

        <div class="mb-3">
            <select name="catId" class="form-control bg-@theme text-@themeOpposite border-@themeOpposite">
                <option value=0 selected disabled hidden>Select a Category</option>
                @foreach (Category c in ViewBag.AllCategories)
                {
                    <option value=@c.CategoryId>@c.Name</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <span asp-validation-for="ImgURL" class="text-danger font-weight-bold">
            </span>
            <input class="form-control bg-@theme text-@themeOpposite border-@themeOpposite" asp-for="ImgURL"
                placeholder="Image URL" />
        </div>

        <div class="mb-3">
            <span asp-validation-for="BuyNow" class="text-danger font-weight-bold">
            </span>
            <input class="form-control bg-@theme text-@themeOpposite border-@themeOpposite" asp-for="BuyNow"
                placeholder="Buy Now Price" />
        </div>

        <div class="mb-3">
            <span asp-validation-for="MinBid" class="text-danger font-weight-bold">
            </span>
            <input type="" class="form-control bg-@theme text-@themeOpposite border-@themeOpposite" asp-for="MinBid"
                placeholder="Minimum Starting Bid" />
        </div>

        <div class="mb-3">
            <span asp-validation-for="EndDate" class="text-danger font-weight-bold">
            </span>
            <input type="text" class="form-control bg-@theme text-@themeOpposite border-@themeOpposite"
                asp-for="EndDate" placeholder="End Date & Time" onfocus="this.type='datetime-local'" required />
        </div>
        <div class="text-end">
            <button class="btn btn-success">Create Auction</button>
        </div>
    </form>
</div>